<ul>
  <li>
    <a href = "/users">
      Users
    </a>
  </li>

  <li>
    <a href = "/photos">
      Photos
    </a>
  </li>
</ul>
<div>
  <h1><%=@the_user%></h1>
</div>

<div>
  ID
<div>



<div>
  Edit User
</div>

<form action = "/update_user/<%=@the_user%>" method = "post">

  <label for = "user_name_box"> 
    Username
  </label>
  <input type = "text" id = "user_name_box" name = "user_name" value = "<%=@the_user%>">



  <button>
    Update user
  </button>

</form>
<h1> Own Photos <%=@the_name.own_photos.count%></h1>
<table border = 1>
  <tr>
    <th>
      Image
    </th>

    <th>
      Caption
    </th>

    <th>
      Owner
    </th>

    <th>
      Posted
    </th>

    <td>

    </td>
  </tr>
  <% @the_name.own_photos.each do |photo| %>
    <tr>
      <td> 
          <img src = "<%= photo.image %>">
      </td>

      <td> 
          <%= photo.caption %>
      </td>

      <td> 
          <%= photo.poster.username %>
      </td>

      <td> 
          <%= photo.created_at %>
      </td>

      <td>
        <a href = "/photos/<%=photo.id%>">Show details </a>
      </td>
    </tr>
  <%end%>
</table>
