<ul>
  <li>
    <a href = "/users">
      Users
    </a>
  </li>

  <li>
    <a href = "/photos">
      Photos
    </a>
  </li>
</ul>

<div>
  <h1> Photo Details </h1>
</div>

<div>
  <img src ="<%=@the_photos.image%>">
</div>

<div>
  Caption
</div>
<div>
  <%=@the_photos.caption%>
</div>

<div>
  Owner
</div>
<div>
  <%=@the_photos.poster.username%>
</div>

<div>
  Posted
</div>
<div>
  <%=@the_photos.created_at%>
</div>

<div>
  Edit Photo
</div>

<form action = "/update_photo/<%=@the_photos.id%>" method = "post">

  <label for = "image_box"> 
    Image 
  </label>
  <input type = "text" id = "image_box" name = "image_query" value = "<%=@the_photos.image%>">

  <label for = "caption_box"> 
    Caption
  </label>
  <textarea type = "text" id = "caption_box" name = "caption_query" placeholder = "Enter a Caption"> Some text
  </textarea>


  <button>
    Update photo
  </button>
</form>

<div>
  <a href =  "/delete_photo/<%= @the_photos.id%>">
  Delete this Photo
  </a>
</div>


<div>
  <table>
    <tr>
      <th>
        Commenter
      </th>

      <th>
        Comment
      </th>

      <th>
        Posted
      </th>

    </tr>
    <%@the_photos.comments.each do |comment|%>
      <tr>
        <td> 
        <%=comment.commenter.username%>
        </td>

        <td>
        <%=comment.body%>
        </td>

        <td>
        <%=comment.created_at%>
        </td>
      </tr>
    <%end%>
  </table>
</div>

<form action = "/add_comment" method = "post">

  <label for = "id_box"> 
    Photo ID
  </label>
  <input type = "text" id = "id_box" name = "id_query" value = "<%=@the_photos.id%>" >

  <label for = "author_box"> 
    Author ID
  </label>
  <input type = "text" id = "author_box" name = "author_query" placeholder = "Enter a Comment">

  <label for = "comment_box"> 
    Comment
  </label>
  <textarea type = "text" id = "comment_box" name = "comment_query" placeholder = "Enter a Comment">something
  </textarea>


  <button>
    Add comment
  </button>

</form>
